<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHgod854d-uvpJYQwsfIU8Pki2gAREitM</string>
	<key>GCM_SENDER_ID</key>
	<string>1051456863553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reservationsSystem</string>
	<key>PROJECT_ID</key>
	<string>reservations-8c32c</string>
	<key>STORAGE_BUCKET</key>
	<string>reservations-8c32c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051456863553:ios:26d0b7ae2c79231473f5c0</string>
</dict>
</plist>